:root {

    /* the neutral colors */
    --neutral-0:   #ffffff;
  --neutral-50:  #F5F7FA;
  --neutral-100: #F3F5F8;
  --neutral-200: #E0E4EA;
  --neutral-300: #CACFD8;
  --neutral-400: #99A0AE;
  --neutral-500: #717784;
  --neutral-600: #525866;
  --neutral-700: #2B303B;
  --neutral-800: #232530;
  --neutral-900: #191B25;
  --neutral-950: #0E121B;
  /* Primary Blue */
  --blue-600: #2547D0;
  --blue-500: #335CFF;
  --blue-100: #EBF1FF;

  /* Success Green */
  --green-500: #21C16B;
  --green-100: #D1FBE9;

  /* Error Red */
  --red-500: #FB3748;
  --red-100: #FFD5D8;

   --control-width: 27.75rem;
  --control-height: 2.75rem;
  --radius-md: 0.75rem;

  --control-width-mobile:19.4375rem
}

@font-face {
  font-family: 'Inter';
  src: url("../assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format('truetype');
  font-weight: 100 900;     /* full weight range */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Noto Serif';
  src: url("../assets/fonts/noto-serif/NotoSerif-VariableFont_wdth,wght.ttf") format('truetype');
  font-weight: 200 900;     /* Noto Serif supports this range */
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  min-height: 100vh;
  background:var(--neutral-100);   /* greyish background */
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-card {
  background:var(--neutral-0);      /* white form */
  width: 33.75rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:  1rem;
  border-radius:var(--radius-md);
  border: 1px solid var(--neutral-300);
  gap: 1rem;

}
.feather{
    display: flex;
    gap:0.625rem ;
    padding-bottom: 0.5rem;
}
.welcome{
 display: flex;
 flex-direction: column;
 align-items:center;
 gap: 0.5rem;
}
h1{
    font-family: 'Inter';
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--neutral-950);
    line-height: 120%;
    letter-spacing: -0.5px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1.5rem;

   
}
.field-column{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
.field-row{
    display: flex;
    justify-content: space-between;
    align-items:center;

}
label{
    font-family: 'Inter';
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--neutral-950);
}
.email{
    font-family: 'Inter';
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--neutral-500);}

.password{
    font-family: 'Inter';
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--neutral-500);
}
.forgetlink{
    color: var(--neutral-600);
    font-family: 'Inter';
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 140%;
    text-underline-offset: 2.5px;
}

input{
    width: var(--control-width);
    height: var(--control-height);
    border: 1px solid var(--neutral-300);
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-family: 'Inter';
}
.login-btn{
    width: var(--control-width);
    height: var(--control-height);
    background: var(--blue-500);
    border-radius: var(--radius-md);
    border: 1px solid var(--neutral-300);
    color: var(--neutral-0);
    cursor: pointer;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 600;


}

.other-logs{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.log-phrase{
    
    font-family: 'Inter';
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--neutral-600);
}
.googleword{
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 500;
    color: var(--neutral-950);
}
.google-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: var(--control-width);
    height: 3rem;
    border-radius: var(--radius-md);
    border: 1px solid var(--neutral-300);
    cursor: pointer;
    background: var(--neutral-0);
    
    
}
.divider{
    width: var(--control-width);
    height: 1px;
   background: var(--neutral-200);
  border: none;
}

.signup{
    color: var(--neutral-600);
    font-family: 'Inter';
    font-size:0.875rem ;
    line-height: 120%;
    letter-spacing: -0.2px;

}

.info-text {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--neutral-600);
  padding-bottom:0.2rem ;
}

.info-icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  color: var(--neutral-600);
}

.reset-password-page .signup{
color: var(--neutral-600);
    font-family: 'Inter';
    font-size:0.875rem ;
    line-height: 120%;
    letter-spacing: -0.2px;
}

.signuplink{
    text-decoration: none;
    color: var(--neutral-950);
}



@media (max-width: 768px) {
  .login-card {
    width: 32.625rem;        
    padding-top: 3rem;      
    padding-bottom: 3rem;   
    padding-left: 2rem;     
    padding-right: 2rem;    
  }
 
}

@media (max-width: 480px) {
  .login-card {
    width: 21.4375rem;     
    padding-top: 2.5rem;   
    padding-bottom: 2.5rem;
    padding-left: 1rem;    
    padding-right: 1rem;  
  }

  input,
  .login-btn,
  .google-btn,
  .divider {
    width: var(--control-width-mobile);            /* prevent overflow */
  }
 .forget-page, .signup {
    text-align: center;
  }
  
}



